@import "tailwindcss";
@import "./fonts.css";
@import "./theme.css";
@import "./base.css";

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 60px;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
}

@keyframes scroll-x {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(calc(var(--item-width) * -1), 0, 0);
    }
}

.animate-scroll-x {
    animation: scroll-x var(--animation-duration, 10s) linear infinite;
    will-change: transform;
    --item-width: 1000px;
}